<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>短电弧科技</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/index.css">
	</head>

<body>
	<div id="app">
		
		<include src="header.html"></include>
		
		<!-- banner -->
		<div class="pubHeadBanner">
			<include src="banner.html"></include>
		</div>
		
		<!-- 业务领域 -->
		<div class="">
			<div class="width83 pdb80">
				<div class="pubtit center">
					<h1 class="title">业务领域</h1>
					<p class="xian"></p>
				</div>
				<div class="ind-box1">
					<ul class="clearfix">
						<li class="item fl" v-for="(item,index) in 业务领域" :key="index">
							<a :href="'detail.html?id='+item.id">
								<p class="tit avoidOverflow center">{{item.title}}</p>
								<div class="pic oh"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" /></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- 成功案例和经验介绍 -->
		<div class="f5bj ind-box2 pr">
			<div class="width83">
				<div class="pubtit center">
					<h1 class="title">成功案例和经验介绍</h1>
					<p class="xian"></p>
				</div>
				<div class="cont">
					<ul class="clearfix">
						<li class="item fl" v-for="(item,index) in 成功案例和经验介绍" :key="index">
							<a :href="'detail.html?id='+item.id">
								<div class="pic oh"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" /></div>
								<p class="tit avoidOverflow center">{{item.title}}</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<img class="bjPic" src="images/home-img5.png">
		</div>
		
		
		<!-- 产品展示 -->
		<div class="ind-box3 pr pdb80">
			<div class="width83">
				<div class="pubtit center">
					<h1 class="title">产品展示</h1>
					<p class="xian"></p>
				</div>
				<div class="infor clearfix center">
					<div class="item" v-for="(item,index) in productData" :key="index">
						<p class="tit avoidOverflow">{{item.title}}</p>
						<div class="bigPic"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" ></div>
						<div class="samllPic borderB1 color6 clearfix">
							<div class="tt" v-for="(c_item,c_index) in item.bannerImg" :key="index">
								<img class="img" :src="c_item.url" >
								<!-- <p class="s-tit avoidOverflow">高混合材料贴纸加工</p> -->
							</div>
							
						</div>
						<!-- <div class="textTit center">用途及使用范围</div> -->
						<div class="avoidOverflow3 text2">
							{{item.description?item.description:"暂无详细信息"}}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<include src="footer.html"></include>
		
	</div>
</body>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data:function(){
			return {
				banner_index:0,
				is_show:false,
				wx_show:2,
				mainData: [],
				labelData: [],
				newsData:4,
				caseData:5,
				
				'轮播图':[],
				'成功案例和经验介绍':[],
				'业务领域':[],
				paginate:{
					count: 0,
					currentPage: 1,
					pagesize: 3,
					is_page: true,
				},
				productData:[]
			}
		},
		
		created:function () {
		    var self = this;
			self.getMainData();
			self.getProductData()
		},
		
		methods: {
			
			getMainData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['首页']]
						},
						condition:'in',
					}
				};
				postData.getAfter = {
					child:{
						tableName:'Article',
						middleKey:'id',
						key:'menu_id',
						searchItem:{
							status:['in',[1]],
						},
						condition:'in',
					}
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						for (var i = 0; i < res.info.data.length; i++) {
							self[res.info.data[i].title] = res.info.data[i].child
							console.log(self[res.info.data[i].title])
						}
						
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getProductData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
				};
				postData.paginate = window.base.cloneForm(self.paginate);
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'menu_id',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['产品中心']]
						},
						condition:'in',
					}
				};
				postData.order = {
					listorder:'desc'
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						self.productData.push.apply(self.productData,res.info.data)
					
			        };    
			    };
			    window.base.articleGet(postData, callback);
			},
			
		}
	});
</script>


</html>