<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>产品中心</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/product.css">
	</head>

<body>
	<div id="app">
		<include src="header.html"></include>
		<!-- <include src="banner.html"></include> -->
		<a class="" :href="轮播图.url?轮播图.url:''">
			<img class="w" :src="轮播图.mainImg&&轮播图.mainImg[0]?轮播图.mainImg[0].url:''" >
		</a>
		
		<div class="productLis">
			<div class="clearfix">
				<div class="item fl" v-for="(item,index) in mainData" :key="index">
					<a  :href="'productDetail.html?id='+item.id">
						<div class="pic"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" alt=""></div>
						<div class="tit clearfix">
							<p class="avoidOverflow">{{item.title}}</p>
							<img class="arrow" src="images/productl-icon.png" >
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<div class="all-pages">
			<a class="no-prev" data-type="back" @click="changePage"><img class="arrowIcon" src="images/productl-icon1.png" ></a>
			<a v-for="item in pageArray" :class="item == paginate.currentPage?'current':''" @click="linkTo(item)">{{item}}</a>
			<a class="next" data-type="next" @click="changePage"><img class="arrowIcon" src="images/productl-icon2.png" ></a>
		</div>
		
		
		<include src="footer.html"></include>
		
	</div>
</body>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data:function(){
			return {
				mainData: [],
				'轮播图':{},
				linkPage: [],
				pageArray: [],
				paginate:{
					count: 0,
					currentPage: 1,
					pagesize: 9,
					is_page: true,
				},
				allPages: 0,
			}
		},
		
		created:function () {
		    var self = this;
			self.getMainData();
			self.getLabelData()
		},
		
		methods: {
			
			getLabelData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
				};
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'parentid',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['产品中心']]
						},
						condition:'in',
					}
				};
				postData.order = {
					listorder:'desc'
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						for (var i = 0; i < res.info.data.length; i++) {
							if(res.info.data[i].title=='轮播图'){
								self['轮播图'] = res.info.data[i]
							}
						}
						//self.labelData.push.apply(self.labelData,res.info.data)
			        };    
			    };
			    window.base.labelGet(postData, callback);
			},
			
			getMainData(){
			    var self = this;
			    var postData = {};
			    postData.searchItem = {
					thirdapp_id:2,
				};
				postData.paginate = window.base.cloneForm(self.paginate);
				postData.getBefore = {
					child:{
						tableName:'Label',
						middleKey:'menu_id',
						key:'id',
						searchItem:{
							status:['in',[1]],
							title:['in',['产品中心']]
						},
						condition:'in',
					}
				};
				postData.order = {
					listorder:'desc'
				};
			    var callback = function(res){
			        if(res.info.data.length>0&&res.info.data[0]){
						self.mainData.push.apply(self.mainData,res.info.data)
						self.paginate['count'] = res.info.total;
						window.base.computePageArr(self);
			        };    
			    };
			    window.base.articleGet(postData, callback);
			},
			
			linkTo(item) {
				var self = this;
				console.log(item);
				self.linkPage = item;
				window.base.linkTo(self);
				console.log(self.pageArray)
			},
			
			changePage(e) {
				var self = this;
				var dataSet = window.base.getDataSet(e);
				window.base.changePage(dataSet, self);
			},
			
		}
	});
</script>


</html>